* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #Ffff00;
    --color2: #293250;
    --color3: #008080;
}

/* header styles */

header {
    background-image: url("../images/banner.jpg");
    background-size: cover;
}

header div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 20px 120px 20px;
}

header h1:hover {
    font-size: 3.25vw;
}

header a {
    text-decoration: none;
    color: var(--color1);
    border: 2px solid rgba(0, 128, 128, .7);
    border-radius: 50%;
    text-shadow: 2px 2px 2px black;
}

header nav {
    margin: 9px 0;
}

header a:hover {
    background-color: rgba(0, 128, 128, .5);
}

header nav a:hover {
    font-size: 1.7vw;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

header nav ul li {
    padding: 0 15px 0 15px;
}

header h2 {
    color: var(--color1);
    text-align: center;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px black;
}